@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  bottom: 40px;
  right: 20px;
  width: 220px;
  height: 130px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 8px;
  z-index: 9999;
  cursor: move;
  user-select: none;
}
